<h2>mouvementES</h2>
<button routerLink="/mouvements/add" >Add</button>

<ul class="mouvementes">
  <li *ngFor="let mouvement of mouvementes$ | async"
    [class.selected]="mouvement.id === selectedId">
    <a [routerLink]="['/mouvements/detail']" [queryParams]="{id: mouvement.id, offlineId: mouvement.offlineId}">
      <span class="badge">{{ mouvement.id }}</span>{{ mouvement.name }}
    </a>
    <button style="float:right" (click)="deleteMouvement(mouvement)">Del</button>
  </li>
</ul>


<p>Session ID: {{ sessionId | async }}</p>
<a id="anchor"></a>
<p>Token: {{ token | async }}</p>

<button routerLink="/sidekicks">Go to sidekicks</button>